.question-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
    max-width: 500px;
    border: #ff7300 5px solid;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    padding: 4rem;

    
}
.qnt-perg{
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
    color: #fff;
    background: #ff7300;
    padding: 2px 0px;
    border-radius: 12px;
}
.h2-quest{
    text-align: center;
    font-size: 22px;
    margin-bottom: 2rem;
    color: #f3a143;
}
.question-div button{
    padding: 15px 30px;
    margin-top: 20px;
}

@media(max-width: 670px){
    .question-div{
        border: none;
        box-shadow: none;
    }
    .qnt-perg{
        font-size: 15px;
    }
    .h2-quest{
        font-size: 18px;
    }
    .question-div button{
        padding: 5px 17px;
        font-size: 18px;
    }
}
